<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Event - DAMS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{logout}" method="post">
            <input type="submit" value="Sign Out">
        </form>
    </div>
    <h1>Create Event</h1>
    <h3><a th:href="@{/list_events}">List All Events</a></h3>
</div>
<form th:action="@{/create}" method="post"
      style="max-width: 600px; margin: 0 auto;"
      th:object="${event}"
>
    <div class="m-3">

        <div class="form-group row">
            <label class="col-form-label col-4">Description</label>
            <div class="">
                <label>
                    <input type="text" class="form-control" th:field="*{description}" required/>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">Zip Code</label>
            <div class="">
                <label>
                    <input type="number" class="form-control" th:field="*{zip}" required/>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">Address</label>
            <div class="">
                <label>
                    <input type="text" class="form-control" th:field="*{address}" required/>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">Start Date</label>
            <div class="">
                <label>
                    <input type="date" class="form-control" th:field="*{start}" required/>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4"></label>
            <div class="">
                <div th:if="${errorsLocal != null}" class="alert alert-danger notification" role="alert">
                    <p th:each = "i: ${errorsLocal}" th:text="${i}"></p>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4">End Date</label>
            <div class="">
                <label>
                    <input type="date" class="form-control" th:field="*{end}" required/>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4"></label>
            <div class="">
                <div th:if="${errorsStart != null}" class="alert alert-danger notification" role="alert">
                    <p th:each = "i: ${errorsStart}" th:text="${i}"></p>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Create Event</button>
        </div>
    </div>
    </form>
</body>