<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Donation</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <div>
        <form th:action="@{logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
            </p>
            <input type="submit" value="Sign Out">
        </form>
    </div>
    <h1>Donation List</h1>

<!--    <a th:href = "@{/showNewDonationForm}" class="btn btn-primary btn-sm mb-3"> Add Donation</a>-->

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>

            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=donorId&sortDir=' + ${reverseSortDir}}">
                    Donation donor Id</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=Item&sortDir=' + ${reverseSortDir}}">
                    Donation Item</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=donationVolume&sortDir=' + ${reverseSortDir}}">
                    Donation donationVolume</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=zip&sortDir=' + ${reverseSortDir}}">
                    zip</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=eventId&sortDir=' + ${reverseSortDir}}">
                    eventId</a>
            </th>
            <th> pledge </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="donation : ${listDonations}" th:if = "${user.getUsername() == donation.getDonorId()} ">
            <td th:text="${donation.donorId}"></td>
            <td th:text="${donation.item}"></td>
            <td th:text="${donation.donationVolume}"></td>
            <td th:text="${donation.zip}"></td>
            <td th:text="${donation.eventId}"></td>
            <td th:text="${donation.pledge}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${donation.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteDonation/{id}(id=${donation.id})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/shipping/{id}(id=${donation.id})}" th:if="${donation.getApproved() == 'Y'}" class="btn btn-info">Shipping</a>
<!--                <a th:if="${donation.getApproved() == 'Y'}" target="_blank" rel="noopener noreferrer" href="https://tools.usps.com/find-location.htm" class="btn btn-dark">Send Items</a>-->
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>

    <div th:if="${user.getRole() == 'donor'}">
        <a th:href = "@{/responseToRequest}" >Make a Response</a>
    </div>
    <div th:if="${user.getRole() == 'donor'}">
        <a th:href = "@{/showNewDonationForm}" >Make a Pledge</a>
    </div>

    <a th:href = "@{/list_events}"> Back to Event List</a>
</div>
</body>
</html>
