<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Events - DAMS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{logout}" method="post"  th:if="${user.getRole() != null}">
            <input type="submit" value="Sign Out">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
            </p>
        </form>
    </div>
    <div>
        <h1>List of All Events</h1>
        <h3><a th:href="@{/list_users}" th:if="${user.getRole != null}">Home Screen</a></h3>
        <h3><a th:href="@{/create}" th:if="${user.getRole() == 'admin' }">Create Event</a></h3>
        <h3><a th:href="@{/addApprovedItems}" th:if="${user.getRole() == 'admin' }">Add Item to Event</a></h3>
        <h3><a th:href="@{/modifyApprovedItems}" th:if="${user.getRole() == 'admin' }">Modify Item to Event</a></h3>
        <h3><a th:href="@{/match}" th:if="${user.getRole() == 'admin' }">Match Pledge to Request</a></h3>
    </div>
    <div >
        <table class="table table-striped table-bordered">
            <thead class=""thread-dark>
            <tr th:if="${user.getRole() != 'admin'}">
                <th>Event ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Zip Code</th>
                <th>Address</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event: ${listEvents}" th:if="${user.getRole() != 'admin'}">
                <td th:text="${event.id}">Event ID</td>
                <td th:text="${event.description}">Description</td>
                <td th:text="${event.status}">Status</td>
                <td th:text="${event.zip}">Zip Code</td>
                <td th:text="${event.address}">Address</td>
                <td th:text="${event.start}">Start Date</td>
                <td th:text="${event.end}">End Date</td>
            </tr>
            </tbody>
            <tr th:if="${user.getRole() == 'admin'}">
                <th>Event ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Zip Code</th>
                <th>Address</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event: ${listEvents}" th:if="${user.getRole() == 'admin'}">
                <td th:text="${event.id}">Event ID</td>
                <td th:text="${event.description}">Description</td>
                <td th:text="${event.status}">Status</td>
                <td th:text="${event.zip}">Zip Code</td>
                <td th:text="${event.address}">Address</td>
                <td th:text="${event.start}">Start Date</td>
                <td th:text="${event.end}">End Date</td>
                <td><form th:action="@{'/update/' + ${event.id}}" method="post">
                    <div>
                        <button type="submit" value="Update">Update</button>
                    </div>
                </form></td>
                <td><form th:action="@{'/delete/' + ${event.id}}" method="post">
                    <div>
                        <button type="submit" value="Delete">Delete</button>
                    </div>
                </form></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
    <div th:if="${user.getRole() == null}">
        <a th:href = "@{/register}"> Register and Make a Donation NOW!</a>
    </div>
    <div th:if="${user.getRole() == null}">
        <a th:href = "@{/login}"> Already have an account? Sign in here!</a>
    </div>
    <div th:if="${user.getRole() == 'donor'}">
        <a th:href = "@{/responseToRequest}" >Make a Response</a>
    </div>
    <div th:if="${user.getRole() == 'donor'}">
        <a th:href = "@{/showNewDonationForm}" >Make a Pledge</a>
    </div>
    <div th:if="${user.getRole() == 'donor'}">
        <a th:href = "@{/backtoDonation}" >Go to your Donation</a>
    </div>

</div>
</body>
</html>