<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Donation</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Donation</h1>
    <div>
        <table class="table table-striped table-bordered" >
            <thead class=""thread-dark>
            <tr>
                <th>RequestID</th>
                <th>EventsID</th>
                <th>Item</th>
                <th>Volume</th>
                <th>Remaining</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requests: ${requester}" th:if="${donation.getEventId() == requests.getEventsID() &&
                    requests.getStatus() == 'active'}" >
                <td th:text="${requests.getRequestsID()}">RequestID</td>
                <td th:text="${requests.getEventsID()}">EventsID</td>
                <td th:text="${requests.getItem()}">Item</td>
                <td th:text="${requests.getVolume()}">Volume</td>
                <td th:text="${requests.getRemaining()}">Remaining</td>
                <td th:text="${requests.getStatus()}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>



    <hr>
    <h2>Save Donation</h2>

    <form action="#" th:action="@{/continueResponse2}" th:object="${donation}"
          method="POST">



        <input type="hidden" th:field="*{eventId}" th:value="${donation.eventId}" />


        <select th:field="*{item}" required>
            <option value= ""></option>
            <option th:each="requests: ${requester}"  th:if="${donation.getEventId() == requests.getEventsID() &&
                    requests.getStatus() == 'active'}"
                    th:value="${requests.getItem()}" th:text="${requests.getItem()}">
            </option>
        </select>

<!--        <input type="number" th:field="*{donationVolume}" min="0"-->
<!--               placeholder="donationVolume" class="form-control mb-4 col-4" required>-->

<!--        <input type="number" th:field="*{zip}" min = "0" max = "99999"-->
<!--               placeholder="zip" class="form-control mb-4 col-4" required>-->

        <button type="submit" class="btn btn-info col-2"> Save Donation</button>
    </form>

    <hr>

    <a th:href = "@{/backtoDonation}"> Back to Donation List</a>
</div>
</body>
</html>