<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Donation</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Donation</h1>
    <hr>
    <h2>Update Donation</h2>

    <div>
        <table class="table table-striped table-bordered" >
            <thead class=""thread-dark>
            <tr>
                <th>RequestID</th>
                <th>EventsID</th>
                <th>Item</th>
                <th>Volume</th>
                <th>Remaining</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requests: ${requester}" th:if="${donation.getPledge().equals('N') &&
                    donation.getItem() == requests.getItem()  &&
                    donation.getEventId() == requests.getEventsID()     }"
                th:with="showRemain=*{requests.getRemaining() - donation.getDonationVolume()}" >
                <td th:text="${requests.getRequestsID()}">RequestID</td>
                <td th:text="${requests.getEventsID()}">EventsID</td>
                <td th:text="${requests.getItem()}">Item</td>
                <td th:text="${requests.getVolume()}">Volume</td>

<!--                <td th:text="${requests.getRemaining()}">Remaining</td>-->

                <td th:text="${showRemain}"></td>

                <td th:text="${requests.getStatus()}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>




    <form action="#" th:action="@{/saveUpdate}" th:object="${donation}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="text" th:if="${donation.pledge.equals('Y')}" maxlength = "30"
               th:field="*{item}" th:value="${donation.item}" />

        <input type="hidden" th:if="${donation.pledge.equals('N')}"
               th:field="*{item}" class="form-control mb-4 col-4" required>



        <input type="hidden" th:field="*{id}" th:value="${donation.id}" />

        <input type="number" th:field="*{donationVolume}" min = "0" max = "999"
               th:if="${donation.pledge.equals('Y')}" class="form-control mb-4 col-4" required>

        <input type="number" th:field="*{donationVolume}" min = "0" th:max = "${req.getRemaining()}"
               th:if="${donation.pledge.equals('N')}" class="form-control mb-4 col-4" required>

        <input type="number" th:field="*{zip}" min = "0" max = "99999" class="form-control mb-4 col-4" required >

        <input type="hidden" th:field="*{eventId}" th:value="${donation.eventId}" />
        <input type="hidden" th:field="*{pledge}" th:value="${donation.pledge}" />

        <button type="submit" class="btn btn-info col-2"> Update Donation</button>
    </form>

    <hr>

<!--    <a th:href = "@{/backtoDonation}"> Back to Donation List</a>-->
</div>
</body>
</html>