<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users - DAMS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
            </p>
            <input type="submit" value="Sign Out">
        </form>
    </div>
    <div>
        <form th:if="${user.getRole() == 'recipient'}" th:action="@{/request_items}" >
            <input type="submit" value="Request Items">
        </form>
    </div>

    <div th:if="${user.getRole()} == 'admin'">
        <h1>List of All Actions for Admin</h1>
        <h3><a th:href="@{/list_events}">List All Events</a></h3>
    </div>
    <div>
        <form th:if="${user.getRole() == 'recipient'}" th:action="@{/expire_items}" >
            <input type="submit" value="Expire Items">
        </form>
    </div>



    <div th:if="${user.getRole()} == 'recipient'">
        <h1>List of All Requests</h1>
        <h3><a th:href="@{/list_events}">List All Events</a></h3>
    </div>
    <div>
        <table class="table table-striped table-bordered" th:if="${user.getRole()} == 'recipient'">
            <thead class=""thread-dark>
            <tr>
                <th>RequestID</th>
                <th>EventsID</th>
                <th>Item</th>
                <th>Volume</th>
                <th>Remaining</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requests: ${requester}" th:if = "${user.getUsername() == requests.getRequester() && requests.getStatus() == 'active'} " >
                <td th:text="${requests.getRequestsID()}">RequestID</td>
                <td th:text="${requests.getEventsID()}">EventsID</td>
                <td th:text="${requests.getItem()}">Item</td>
                <td th:text="${requests.getVolume()}">Volume</td>
                <td th:text="${requests.getRemaining()}">Remaining</td>
                <td th:text="${requests.getStatus()}">Status</td>
                <td><form th:action="@{'/update_request/' + ${requests.getRequestsID()}}" method="post">
                    <div>
                        <button type="submit">Update</button>
                    </div>
                </form></td>
                <td><form th:action="@{'/delete_request/' +${requests.getRequestsID()}}" method="post">
                    <div>
                        <button type="submit">Delete</button>
                    </div>
                </form></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${user.getRole() == 'donor'}">
        <a th:href = "@{/responseToRequest}" >Make a Response</a>
    </div>
    <div th:if="${user.getRole() == 'donor'}">
        <a th:href = "@{/showNewDonationForm}" >Make a Pledge</a>
    </div>
    <div th:if="${user.getRole() == 'donor'}">
        <a th:href = "@{/backtoDonation}" >Go to your Donation</a>
    </div>



</div>
</body>
</html>